packages: [
  "atom-dark-fusion-syntax"
  "atom-jade"
  "build"
  "build-cargo"
  "build-gulp"
  "busy"
  "editorconfig"
  "file-icons"
  "firewatch-syntax"
  "genesis-syntax"
  "genesis-ui"
  "git-time-machine"
  "graphite-ui"
  "gruvbox"
  "gruvbox-plus-syntax"
  "jshint"
  "language-babel"
  "language-docker"
  "language-elixir"
  "language-glsl"
  "language-l20n"
  "language-rust"
  "language-slim"
  "language-terraform"
  "linter"
  "linter-eslint"
  "linter-rubocop"
  "linter-rust"
  "linter-sass-lint"
  "linter-scss-lint"
  "monokai"
  "nucleus-dark-ui"
  "package-sync"
  "pigments"
  "racer"
  "script"
  "seti-syntax"
  "seti-ui"
  "smyck"
  "Sublime-Style-Column-Selection"
  "tool-bar"
  "trailing-spaces"
]
